.input-light {
    @apply w-full p-4 bg-slate-100 rounded-2xl border-none focus:ring-2 focus:ring-indigo-500 outline-none transition-all;
}

.card-metrica {
    @apply bg-white p-6 rounded-3xl border shadow-sm flex flex-col justify-center items-center;
}

.card-metrica h2 { @apply text-3xl font-black mt-2; }
.card-metrica span { @apply text-xs font-bold text-slate-400 uppercase tracking-widest; }

.badge {
    @apply px-3 py-1 rounded-full text-[10px] font-bold uppercase;
}
.status-pendiente { @apply bg-amber-100 text-amber-600; }
.status-aprobado { @apply bg-emerald-100 text-emerald-600; }
.status-rechazado { @apply bg-red-100 text-red-600; }

.custom-scroll::-webkit-scrollbar { width: 4px; }
.custom-scroll::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }

/* Para las tarjetas de usuario */
.user-card {
    @apply bg-slate-50 p-4 rounded-xl border flex justify-between items-center transition hover:bg-white hover:shadow-sm;
}
