li {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controles button {
  padding: 5px 10px;
  cursor: pointer;
}

.btn-eliminar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
}